/** 
   Lekton is from Google Web Fonts, but hosted locally for this page. 
**/

body { 
  background-color:#333;
  color: #3d3;
  font-family: 'Lekton', monospace;
  margin-left: 15%;
  margin-right: 25%;
}


b { color: #3f3; font-size: 110%;}

div#meejah {
  font-size: 123%;
}

div#meejah a {
  color: #3f3;
  font-weight: bold;
  padding: 7px 7px 4px 7px;
  border-radius: 7px;
  margin-left: -7px;
}

div#meejah a:hover {
  color: #3f3;
  background-color: #363;
  font-weight: bold;
}

@-moz-keyframes bright {
0% { color: #3f3; }
50% {color :#fff; }
100% { color: #3f3; }
}

@-moz-keyframes bright {
0% { background-color: #3f3; }
50% { background-color :#333; }
100% { background-color: #3f3; }
}

@-o-keyframes bright {
0% { color: #3f3; }
50% {color :#fff; }
100% { color: #3f3; }
}

@-o-keyframes bright {
0% { background-color: #3f3; }
50% { background-color :#333; }
100% { background-color: #3f3; }
}

@-webkit-keyframes bright {
0% { color: #3f3; }
50% {color :#fff; }
100% { color: #3f3; }
}

@-webkit-keyframes bright {
0% { background-color: #3f3; }
50% { background-color :#333; }
100% { background-color: #3f3; }
}

.dim { 
  color: #373;
}

span.cursor {
  -moz-animation: bright 0.75s;
  -moz-animation-iteration-count: infinite;

  -o-animation: bright 0.75s;
  -o-animation-iteration-count: infinite;
  
  -webkit-animation: bright 0.75s;
  -webkit-animation-iteration-count: infinite;
}

@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: local('Lekton'), local('Lekton-Regular'), url(lekton.ttf) format('truetype');
}
